
body{
    min-height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}


/* header */
.header{
    display: flex;
    justify-content: space-around;
    background-color: #1f2937;
    color: #f9Faf8;    
}
ul{
    display: flex;
    list-style-type: none;
    gap: 32px;
}
.header-logo{
    font-size: 24px;
    color: #f9Faf8;
}

/* hero */
.hero{
    display: flex;
    background-color: #1f2937;
    justify-content: space-around;
    color: white;
    padding: 10px;
    
}
.banner, .text{
    flex: 2;
}
.banner{
    font-size: 48px;
    font-weight: 900;
    color: #f9faf8;
    margin: 0px;
    padding: 0px;
}
.text{
    font-size: 18px;
    color: #e5e7eb;
}
.hero-image .container{
    display: flex;
    width: 300px;
    height: 150px;
    color: #e5e7eb;
    background-color: #3882f6;
    justify-content: center;
    align-items: center;
}

/* Information Card */
.information{
    display: Flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    color: #1f2937;
    padding: 10px;

}
.information .container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    width: 100%;
}
.card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 200px;
    text-align: cetner;
    margin: 3px;
}
.card .image{
    border: 2px solid #1f2937;
    border-radius: 25px;
    width: 200px;
    height: 200px;
}
 .information .card .text{
    text-align: center;
    color: #1f2937;
    font-size: 16px;
}
.information .text{
    font-size: 36px;
    font-weight: 900;
    color: #1f2937;
}

/* Quote */
