div {
    border: 1px red dotted;
}
body{
    min-height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

/* header */
.header{
    display: flex;
    justify-content: space-around;
    background-color: #1f2937;
    color: #f9Faf8;
    
}
ul{
    display: flex;
    list-style-type: none;
    gap: 32px;
}

/* hero */
.hero{
    display: flex;
    background-color: #1f2937;
    
}
.banner{
    font-size: 48px;
    font-weight: 900;
    color: #f9faf8;
    margin: 0px;
    padding: 0px;
}
.text{
    font-size: 18px;
    color: #e5e7eb;
}

